<template>
    <header class="header">
        <h1>TodoList</h1>
        <div id="nav">
            <router-link class="hvr-rectangle-in" to="/">Home</router-link> |
            <router-link class="hvr-rectangle-in" to="/grid">Grid</router-link> |
            <router-link class="hvr-rectangle-in" to="/graphing">Graphing</router-link> |
            <router-link class="hvr-rectangle-in" to="/about"> About</router-link> |
            <router-link class="hvr-rectangle-in" to="/skeleton"> Skeleton</router-link> |
            <router-link class="hvr-rectangle-in" to="/dragdrop"> Drag Drop</router-link>
        </div>
    </header>
</template>

<script>
    export default {
        name: "Header"
    }
</script>

<style scoped>
    @import '~hover.css';
    .header {
        background: black;
        color: white;
        text-align: center;
        padding: 10px;
    }

    .header a {
        color: white;
        padding-right: 5px;
    }
</style>