<template>
    <div>
        <vue-dropzone
                ref="myVueDropzone"
                id="customdropzone"
                :options="dropzoneOptions"
                v-on:vdropzone-file-added="fileAdded($event, file)"
                v-on:vdropzone-complete="filePostComplete($event, response)"
                :include-styling="false"
        >
        </vue-dropzone>
        <p v-if="upload_status != null">Status = {{ this.upload_status }}</p>
        <p v-else>Status = None</p>
        <button @click="removeUploadedFile()">Remove File</button>
    </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'

    export default {
        name: 'DragDrop',
        components: {
            vueDropzone: vue2Dropzone
        },
        data: function () {
            return {
                file: null,
                response: null,
                upload_status: null,
                dropzoneOptions: {
                    url: 'https://httpbin.org/post',
                    thumbnailWidth: 150,
                    maxFilesize: 0.5,
                    headers: {"My-Awesome-Header": "header value"},
                    previewTemplate: this.template(),
                }
            }
        },
        methods: {
            fileAdded(infile) {
                console.log("fileAdded()", infile.name);
                // Remove the existing file (if any).
                if (this.file != null) {
                    this.removeUploadedFile();
                }
                this.file = infile;
            },
            filePostComplete(inresponse) {
                console.log("filePostComplete()", inresponse);
                this.upload_status = inresponse.status;
            },
            removeUploadedFile() {
                this.$refs.myVueDropzone.removeFile(this.file);
                this.file = null;
            },
            template() {
                return `
                    <div class="dz-preview dz-file-preview">
                        <div class="dz-image">
                            <div data-dz-thumbnail-bg></div>
                        </div>
                        <div class="dz-details">
                            <div class="dz-size"><span data-dz-size></span></div>
                            <div class="dz-filename"><span data-dz-name></span></div>
                        </div>
                        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                        <div class="dz-error-message"><span data-dz-errormessage></span></div>
                        <div class="dz-success-mark"><i class="fa fa-check"></i></div>
                        <div class="dz-error-mark"><i class="fa fa-close"></i></div>
                    </div>
                `;
            },
            // How is this used?
            thumbnail(file, dataUrl) {
                var j, len, ref, thumbnailElement;
                if (file.previewElement) {
                    file.previewElement.classList.remove("dz-file-preview");
                    ref = file.previewElement.querySelectorAll("[data-dz-thumbnail-bg]");
                    for (j = 0, len = ref.length; j < len; j++) {
                        thumbnailElement = ref[j];
                        thumbnailElement.alt = file.name;
                        thumbnailElement.style.backgroundImage = 'url("' + dataUrl + '")';
                    }
                }
            }
        }
    }
</script>

<style>
    #customdropzone {
        background-color: orange;
        font-family: 'Arial', sans-serif;
        letter-spacing: 0.2px;
        color: #777;
        transition: background-color .2s linear;
        height: 200px;
        padding: 40px;
    }

    #customdropzone .dz-preview {
        width: 160px;
        display: inline-block
    }
    #customdropzone .dz-preview .dz-image {
        width: 80px;
        height: 80px;
        margin-left: 40px;
        margin-bottom: 10px;
    }
    #customdropzone .dz-preview .dz-image > div {
        width: inherit;
        height: inherit;
        border-radius: 50%;
        background-size: contain;
    }
    #customdropzone .dz-preview .dz-image > img {
        width: 100%;
    }

    #customdropzone .dz-preview .dz-details {
        color: white;
        transition: opacity .2s linear;
        text-align: center;
    }
    #customdropzone .dz-success-mark, .dz-error-mark, .dz-remove {
        display: none;
    }
</style>