<template>
<div class="graphing">
    <div>Here is a Graphing example.</div>
    <div id="add-filter">
        <button @click="addFilter()">Add Filter</button>
    </div>
    <div id="del-filter">
        <button @click="delFilter()">Delete Filter</button>
    </div>
    <!-- Place the component here. -->
    <GraphDataAdd v-if="this.num_filters >= 1" v-on:update-transmission="updateGraphData($event, 1)"></GraphDataAdd>
    <GraphDataAdd v-if="this.num_filters >= 2" v-on:update-transmission="updateGraphData($event, 2)"></GraphDataAdd>
    <GraphDataAdd v-if="this.num_filters >= 3" v-on:update-transmission="updateGraphData($event, 3)"></GraphDataAdd>
    <GraphDataAdd v-if="this.num_filters >= 4" v-on:update-transmission="updateGraphData($event, 4)"></GraphDataAdd>
    <div class="small">
        <line-chart :chart-data="chartdata" :options="chartoptions"></line-chart>
        <button @click="fillData()">Fill Data</button>
        <button @click="logData()">Log Data</button>
    </div>
</div>
</template>

<script>
    import LineChart from './LineChart.js';
    // Make sure we import the component.
    import GraphDataAdd from "../components/GraphDataAdd";

    export default {
        name: 'Graphing',
        // Actually get the component.
        components: {
            LineChart,
            GraphDataAdd,
        },
        data () {
            return {
                chartdata: null,
                chartoptions: {
                    maintainAspectRatio: false,
                    dragData: true,
                    dragDataRound: 0,
                    onDragEnd: function(e, datasetIndex, index, value) {
                        // We don't need to manually update the dataset, looks like the
                        // dragging plugin handles this for us.
                        // datasets[0] is red.
                        // index is index of dataset[0].
                        // value is the new dragged destination.
                        console.log(datasetIndex, index, value);
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                suggestedMin: 30,
                                suggestedMax: 1200,
                            }
                        }]
                    }
                },
                num_filters: 3,
                max_filters: 4,
                default_dataset: {
                    label: 'Data 0',
                    backgroundColor: 'black',
                    borderColor: 'black',
                    fill: false,
                    // Transmittance.
                    data: [10, 10, 10, 10, 10, 20, 20, 20, 20, 20],
                },
           }
        },
        mounted () {
            this.fillData()
        },
        computed: {
            r_data: function() {
                var trans = [];
                for (var i = 400; i <= 700; i+=10) {
                    trans.push(300);
                }
                return trans;
            },
            g_data: function() {
                var trans = [];
                for (var i = 400; i <= 700; i+=10) {
                    trans.push(200);
                }
                return trans;
            },
            b_data: function() {
                var trans = [];
                for (var i = 400; i <= 700; i+=10) {
                    trans.push(100);
                }
                return trans;
            }
        },
        template:
            `<p>Field Added Here</p>`,
        methods: {
            fillData () {
                // Standard spectral wavelengths.
                var waves = [];
                for (var i = 400; i <= 700; i+=10) {
                    waves.push(i);
                }
                console.log("filleData()", waves);

                this.chartdata = {
                    // Wavelengths
                    labels: waves,
                    datasets: [
                        {
                            label: 'Data 1',
                            backgroundColor: 'red',
                            borderColor: 'red',
                            fill: false,
                            // Transmittance.
                            data: this.r_data,
                        }, {
                            label: 'Data 2',
                            backgroundColor: 'green',
                            borderColor: 'green',
                            fill: false,
                            // Transmittance.
                            data: this.g_data,
                        }, {
                            label: 'Data 3',
                            backgroundColor: 'blue',
                            borderColor: 'blue',
                            fill: false,
                            // Transmittance.
                            data: this.b_data,
                        }
                    ]
                };
            },
            updateGraphData(rgb_data, param_num) {
                if (param_num === 1) {
                    this.r_data = rgb_data;
                }
                if (param_num === 2) {
                    this.g_data = rgb_data;
                }
                if (param_num === 3) {
                    this.b_data = rgb_data;
                }
                this.fillData();
            },
            addFilter() {
                console.log("addFilter()");
                if (++this.num_filters > this.max_filters) {
                    this.num_filters = this.max_filters;
                } else {
                    this.chartdata.datasets.push(this.default_dataset);
                    console.log(this.chartdata.datasets);
                }

            },
            delFilter() {
                console.log("delFilter()");
                if (--this.num_filters < 1) {
                    this.num_filters = 1;
                } else {
                    this.chartdata.datasets.pop();
                }
            },
            logData() {
                // This will just log out the current dataset values to the console for testing.
                console.log("logData")
                console.log(this.chartdata.datasets);
            }
        }
    }
</script>

<style>
</style>