<template>
  <div id="app">
    <AddTodo v-on:add-todo="addTodo"/>
    <Todos v-bind:todo_list="todos_data" v-on:del-a_todo_item="deleteTodoData"/>
  </div>
</template>

<script>
  import Todos from "../components/Todos";
  import AddTodo from "../components/AddTodo"
  import axios from "axios";

  export default {
    name: 'Home',
    components: {
      Todos,
      AddTodo

    },
    data() {
      return {
        todos_data: [
        ]
      }
    },
    methods: {
      deleteTodoData(id) {
        axios.delete(`https://jsonplaceholder.typicode.com/todos/${id}`)
                .then(this.todos_data = this.todos_data.filter(todo => todo.id !== id))
                .catch(err => console.log(err));
      },
      addTodo(newTodo) {
        const { title, completed } = newTodo;
        axios.post('https://jsonplaceholder.typicode.com/todos', {
          title,
          completed
        })
                .then(res => this.todos_data = [...this.todos_data, res.data])
                .catch(err => console.log(err));
      }
    },
    created() {
      axios.get('https://jsonplaceholder.typicode.com/todos?_limit=5')
              .then(res => this.todos_data = res.data)
              .catch(err => console.log(err));
    }
  }
</script>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }

  .btn {
    display: inline-block;
    border: none;
    background: #555;
    color: white;
    padding: 7px 20px;
    cursor: pointer;
  }

  .btn:hover {
    background: #666;
  }

</style>
