<template>
    <div class="skeleton">
        Basic Skeleton Page.
    </div>
</template>

<script>
    export default {
        name: 'Skeleton',
        data() {
            return {

            }
        },
    }
</script>

<style scoped>

</style>