<template>
    <div>
        <form @submit="addTodo">
            <input type="text" v-model="title" name="title" placeholder="Add Todo...">
            <input type="submit" value="submit" class="btn">
        </form>
    </div>
</template>

<script>

    export default {
        name: "AddTodo",
        data() {
            return {
                title: ''
            }
        },
        methods: {
            addTodo(evt) {
                evt.preventDefault();
                // Construct a new object.
                const newTodo = {
                    title: this.title,
                    completed: false
                };
                this.title = '';
                // Send up to parent.
                this.$emit('add-todo', newTodo);
            }
        }
    }
</script>

<style scoped>
    form {
        display: flex;
    }
    input[type="text"] {
        flex: 10;
        padding: 5px;
    }
</style>


