<template>
<div class="graphdataadd">
    <form @submit="addSpectralData">
        <!-- Bind the element to the model -->
        <input type="text" v-model="transmission" placeholder="e.g. 0, 20, 10, 30">
        <input type="submit" value="Update" class="btn">
    </form></div>
</template>

<script>
    export default {
        name: "GraphDataAdd",
        data() {
            return {
                // The member variable.
                transmission: [],
            }
        },
        methods: {
            // Called when the form is submitted (submit button is pressed).
            addSpectralData(evt) {
                // This stops the form submission.
                evt.preventDefault()
                console.log("User has entered =", this.transmission)
                let transmission_arr;
                transmission_arr = this.transmission.split`,`.map(x=>+x);
                // Send the data up to the parent.
                this.$emit('update-transmission', transmission_arr);
            }
        },
        watch: {
            transmission: function(newVal, oldVal) {
                console.log(newVal, oldVal);
                let transmission_arr;
                transmission_arr = this.transmission.split`,`.map(x=>+x);
                // Send the data up to the parent.
                this.$emit('update-transmission', transmission_arr);
            }
        }
    }

</script>

<style>

</style>