<template>
    <div class="todo-item" v-bind:class="{'is-complete':todo_item.completed}">
        <p>
            <input type="checkbox" v-on:change="markComplete">
            {{todo_item.title}}
            <button @click="$emit('del-todo_item', todo_item.id)"
                    class="del">
                x
            </button>
        </p>
    </div>
</template>

<script>
    export default {
        name: "TodoItem",
        props: ["todo_item"],
        methods: {
            markComplete() {
                this.todo_item.completed = !this.todo_item.completed;
            }
        }
    }
</script>

<style scoped>
    .todo-item {
        background: white;
        padding: 10px;
        /*border-bottom: 1px #ccc dotted;*/
        text-align: left;
    }

    .is-complete {
        text-decoration: line-through;
    }

    .del {
        background: red;
        color: white;
        border: none;
        padding: 5px 9px;
        border-radius: 50%;
        cursor: pointer;
        float: right;
    }

</style>