<template>
    <div>
        <div v-bind:key="a_todo_item.id" v-for="a_todo_item in todo_list">
            <TodoItem v-bind:todo_item="a_todo_item"
                      v-on:del-todo_item="$emit('del-a_todo_item', a_todo_item.id)"/>
        </div>
    </div>
</template>

<script>
    import TodoItem from "./TodoItem";
    export default {
        name: "Todos",
        components: {
            TodoItem
        },
        // Give access in template.
        props: ["todo_list"]
    }
</script>

<style scoped>

</style>